<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/media_manager.css">
		<title>Media Manager</title>
	</head>
	<body>
		<div class="content">
			{{{body}}}
		</div>
	</body>
</html>